/* ROOT CONTENT */

.root {
    -fx-background-color:  #ffff;
}

.VBox_Root {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

/* BUTTONS */

.button_SignIn {
    -fx-background-color: #20C894;
    -fx-background-radius: 20;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 13px;
}

.button_SignUp {
    -fx-text-fill: #20C894;
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
    -fx-border-color:#ffffff;
    -fx-border-radius: 20;
    -fx-font-size: 13px;
    -fx-font-family: "Roboto Bold";
}

/* TEXT FIELDS */

.jfx-text-field, .jfx-password-field {
    -fx-text-inner-color:  black;
    -fx-prompt-text-fill: black;
    -jfx-unfocus-color: #EEEEEE;
    -jfx-focus-color: #20C894;
}

/* TreeTable */
.jfx-tree-table-view{
    -fx-border-color:  #20C894;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}



/* TAB PANE */
.tab-pane, .jfx-tab-pane {
    -fx-background-color:  #ffffff;

}

.jfx-tab-pane .tab-header-area .tab-selected-line {
    -fx-background-color: #ffffff;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: #ffffff;
}

.tab:selected .tab-label {
    -fx-text-fill:  #ffffff;
}

.tab:selected {
    -fx-background-color:  #20C894;
}

.tab-header-background {
    -fx-background-color: #ffffff;
}

.tab *.tab-label {
    -fx-rotate: 90;
    -fx-font-size: 12px;
    -fx-alignment: CENTER;
    -fx-text-fill: black;
}

.tab {
    -fx-padding: 3em 0.5em 3em 0.5em;
    -fx-text-family: Roboto;
    -fx-background-color: #ffff;
}

.jfx-progress-bar > .bar {
    -fx-background-color: #20C894;
}

.combo-box-popup > .list-view {
    -fx-pref-width: 300;
    -fx-max-width: Infinity;
}
.jfx-slider > .colored-track {
    -fx-background-color: #20C894;
}

.jfx-slider > .animated-thumb {
    -fx-background-color: #20C894;

}
.jfx-slider > .thumb {
    -fx-background-color: #20C894;
}