.button_SignIn {
    -fx-background-color: #094270;
    -fx-background-radius: 5;
    -fx-text-fill: #ffffff;
}

.button_SignUp {
    -fx-text-fill: #094270;
    -fx-background-color: #adc0cf;
    -fx-background-radius: 5;
    -fx-border-color: #094270;
    -fx-border-radius: 5;
}

.VBox_Root {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
}

.jfx-text-field {
    -jfx-focus-color: #ED0362;
}

.tab *.tab-label {
    -fx-rotate: 90;
}

.tab {
    -fx-padding: 3em 0.5em 3em 0.5em;
}