/* ROOT CONTENT */

.root {
    -fx-background-color:  #ADC0CF;
    -fx-text-fill: 'Roboto';
}

.VBox_Root {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}


/* BUTTONS */

.button_SignIn {
    -fx-background-color:#094270;
    -fx-background-radius: 20;
    -fx-text-fill: #ffffff;
}

.button_SignUp {
    -fx-text-fill: #094270;
    -fx-background-color: #ADC0CF;
    -fx-background-radius: 20;
    -fx-border-color: #094270;
    -fx-border-radius: 20;
}

/* TEXT FIELDS */

.jfx-text-field, .jfx-password-field {
    -fx-text-inner-color:  #094270;
    -fx-prompt-text-fill: #094270;
    -jfx-unfocus-color: #ed0362;
    -jfx-focus-color: #094270;
}

/* TreeTable */
.jfx-tree-table-view{
    -fx-border-color:  #ed0362;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

/* TAB PANE */

.tab-pane, .jfx-tab-pane {
    -fx-background-color:  #ffffff;

}

.jfx-tab-pane .tab-header-area .tab-selected-line {
    -fx-background-color: #ED0362;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: #ED0362;
}

.tab:selected .tab-label {
    -fx-text-fill:  #ffffff;
}

.tab:selected {
    -fx-background-color: #094270;
}

.tab-header-background {
    -fx-background-color: #ADC0CF;
}

.tab *.tab-label {
    -fx-rotate: 90;
    -fx-font-size: 12px;
    -fx-alignment: CENTER;
    -fx-text-fill: #094270;
}

.tab {
    -fx-padding: 3em 0.5em 3em 0.5em;
    -fx-text-fill: #094270;
    -fx-background-color: #ADC0CF;
}

.jfx-progress-bar > .bar {
    -fx-background-color: #ED0362;
}

.combo-box-popup > .list-view {
    -fx-pref-width: 300;
    -fx-max-width: Infinity;
}